
@media only screen and (min-width: 992px) {

  .header-title {
    font-size: 52px;
  }
  .btn:hover {
    background-color: white;
    color: #8d81ac;
  }

  .btn-big:hover {
    border: 1px solid #8d81ac;
  }
  .header-text-item {
    font-size: 22px;
  }

  .header-title {
    font-size: 60px;
  }

  .header-text-item-second {
    font-size: 12px;

  }

}