

@media only screen and (min-width: 992px) {

  .btn-wrapper {
    flex: 0 0 20%;
    order: 3;
    text-align: left;
  }

  .navbar-menu {
    flex: 0 0 60%;
    margin: 0;
    box-sizing: border-box;
    padding-left: 10%;

  }
  .navbar-menu-item{
    padding:  11px 10px 0;
  }

  .navbar-logo {
    flex: 0 0 20%;
    justify-content: flex-end;
  }

  .navbar-logo:hover > .navbar-logo-img {
    background-image: url("../img/logo-hover@1X.png");
  }

  .navbar-logo:hover > .navbar-logo-text {
    color: white;
  }

  .navbar-menu-link:hover {
    color: white;
  }

  .navbar-nav {
    justify-content: space-between;
  }
}


@media only screen and (min-width: 1050px) {

  .navbar-menu {

    padding-left: 12%;

  }
}

@media only screen and (min-width: 1100px) {

  .navbar-menu {
    padding-left: 14%;
  }

}

@media only screen and (min-width: 1150px) {
  .navbar-menu {
    padding-left: 16%;
  }
}