@media only screen and (min-width:480px) {
  .container-preference-content-image {
    width: 112px;
    height: 90px;
    text-align: center;
    float: left;
    margin-right: 20px;
  }
  .preference-content-title-image {
    padding-top: 0;
    padding-bottom: 10px;
    width: 80%;
    text-align: left;
  }
  .preference-content-text-image {
    text-align: left;
    width: 90%;
    line-height: 18px;
  }


}