@media only screen and (min-width:992px) {

  .container-preference-content-image {
    width: 115px;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding-top: 0;
    padding-left: 50px;
  }
  .preference-content {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .preference-content-title-image {
    padding-top: 0;
    padding-bottom: 10px;
    width: 50%;
  }
  .preference-content-title-div {
    width: 50%;
    float: right;
    text-align: left;
  }
  .preference-content-text-image {
    text-align: left;
    width: 45%;
    line-height: 18px;
  }
  .preference-content-title {
    text-align: left;
    margin-top: -40px;
    font-size: 36px;
    padding-left: 12px;
  }
  .preference-content-image-after-div {
    float: right;
    margin-top: -400px;
    width: 50%;
  }
}


@media only screen and (min-width:1200px) {

  .preference {
    overflow: hidden;
  }
  .preference-content-image-after {
    overflow: hidden;
  }
}
