@media only screen and (min-width:480px) {
  .pricing-plan-content {
    text-align: center;
  }
  .pricing-plan-content-title {
    font-size: 32px;
    width: 100%;
  }
  .pricing-plan-content-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pricing-item {
    flex: 0 0 46%;
  }

}