@media only screen and (min-width: 992px) {

  .review-content-item {
    padding: 40px 0;
    flex: 0 0 28%;
    justify-content: space-between;
  }

  .review-content-item img {
    padding: 20px 70px;
  }

  .padding-img4 {
    padding: 20px 110px !important;
  }
.padding-text{
  padding-top: 0px;
}
}