@media only screen and (min-width: 480px) {
  .review-content {
    display: flex;
    flex-wrap: wrap;
  }

  .review-content-item {
    flex: 0 0 50%;
  }

  .review-footer-text {
    display: block !important;
    margin: 0 auto;
    //padding-bottom: 30px;
    width: 75%;
    color: #87778a;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-style: italic;
    text-align: center;
  }

  //.padding-text {
  //
  //  box-sizing: border-box;
  //}

}