
.review {
  background-image: url("../img/testmonials-bg@1X.png");
  //@include background-image;
  background-position: center;
  background-size: cover;
  //padding-bottom: 200px;
  //padding-bottom: 15px;

  &-content {
    text-align: center;
    &-item{
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      &-img{
        display: block;
        //margin: 10px 0;
      }
      &-text{
        display: block;
        height: 80px;
        text-align: center;
        color: $additional-color;
        font-size: 16px;
        font-family: $main-font-2;
        font-style: $additional-font-style;
      }
    }
  }
  &-footer{
    padding: 30px 0 20px 0;
    &-text{
      display: none;
    }
    &-line{
      height: 2px;
      width: 75%;
      margin: 0 auto;
      background-color: $main-color;
    }

  }

}



.padding-img1 {
  padding: 10px;
}

.padding-img2 {
  padding: 6px;
}

.padding-img3 {
  padding: 0 8px;
}



